# Import Libraries

In [144]:
''' import relevant libaries for manipulating data'''
import requests
import pandas as pd
import pycountry
import copy
import numpy as np

pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.set_option('display.max_columns', None)

import coinoxr
from coinoxr import Historical
from coinoxr import Currency
from coinoxr.requestor import Requestor

coinoxr.app_id = "114d34f7c3164eacba5c42442ae8c4c5"

from tqdm import tqdm

# Get All Currencies Names and Codes

In [154]:
cur = Currency().get()
currencies = dict(cur.body)
cur

Response(code=200, body={'AED': 'United Arab Emirates Dirham', 'AFN': 'Afghan Afghani', 'ALL': 'Albanian Lek', 'AMD': 'Armenian Dram', 'ANG': 'Netherlands Antillean Guilder', 'AOA': 'Angolan Kwanza', 'ARS': 'Argentine Peso', 'AUD': 'Australian Dollar', 'AWG': 'Aruban Florin', 'AZN': 'Azerbaijani Manat', 'BAM': 'Bosnia-Herzegovina Convertible Mark', 'BBD': 'Barbadian Dollar', 'BDT': 'Bangladeshi Taka', 'BGN': 'Bulgarian Lev', 'BHD': 'Bahraini Dinar', 'BIF': 'Burundian Franc', 'BMD': 'Bermudan Dollar', 'BND': 'Brunei Dollar', 'BOB': 'Bolivian Boliviano', 'BRL': 'Brazilian Real', 'BSD': 'Bahamian Dollar', 'BTC': 'Bitcoin', 'BTN': 'Bhutanese Ngultrum', 'BWP': 'Botswanan Pula', 'BYN': 'Belarusian Ruble', 'BZD': 'Belize Dollar', 'CAD': 'Canadian Dollar', 'CDF': 'Congolese Franc', 'CHF': 'Swiss Franc', 'CLF': 'Chilean Unit of Account (UF)', 'CLP': 'Chilean Peso', 'CNH': 'Chinese Yuan (Offshore)', 'CNY': 'Chinese Yuan', 'COP': 'Colombian Peso', 'CRC': 'Costa Rican Colón', 'CUC': 'Cuban Convertible Peso', 'CUP': 'Cuban Peso', 'CVE': 'Cape Verdean Escudo', 'CZK': 'Czech Republic Koruna', 'DJF': 'Djiboutian Franc', 'DKK': 'Danish Krone', 'DOP': 'Dominican Peso', 'DZD': 'Algerian Dinar', 'EGP': 'Egyptian Pound', 'ERN': 'Eritrean Nakfa', 'ETB': 'Ethiopian Birr', 'EUR': 'Euro', 'FJD': 'Fijian Dollar', 'FKP': 'Falkland Islands Pound', 'GBP': 'British Pound Sterling', 'GEL': 'Georgian Lari', 'GGP': 'Guernsey Pound', 'GHS': 'Ghanaian Cedi', 'GIP': 'Gibraltar Pound', 'GMD': 'Gambian Dalasi', 'GNF': 'Guinean Franc', 'GTQ': 'Guatemalan Quetzal', 'GYD': 'Guyanaese Dollar', 'HKD': 'Hong Kong Dollar', 'HNL': 'Honduran Lempira', 'HRK': 'Croatian Kuna', 'HTG': 'Haitian Gourde', 'HUF': 'Hungarian Forint', 'IDR': 'Indonesian Rupiah', 'ILS': 'Israeli New Sheqel', 'IMP': 'Manx pound', 'INR': 'Indian Rupee', 'IQD': 'Iraqi Dinar', 'IRR': 'Iranian Rial', 'ISK': 'Icelandic Króna', 'JEP': 'Jersey Pound', 'JMD': 'Jamaican Dollar', 'JOD': 'Jordanian Dinar', 'JPY': 'Japanese Yen', 'KES': 'Kenyan Shilling', 'KGS': 'Kyrgystani Som', 'KHR': 'Cambodian Riel', 'KMF': 'Comorian Franc', 'KPW': 'North Korean Won', 'KRW': 'South Korean Won', 'KWD': 'Kuwaiti Dinar', 'KYD': 'Cayman Islands Dollar', 'KZT': 'Kazakhstani Tenge', 'LAK': 'Laotian Kip', 'LBP': 'Lebanese Pound', 'LKR': 'Sri Lankan Rupee', 'LRD': 'Liberian Dollar', 'LSL': 'Lesotho Loti', 'LYD': 'Libyan Dinar', 'MAD': 'Moroccan Dirham', 'MDL': 'Moldovan Leu', 'MGA': 'Malagasy Ariary', 'MKD': 'Macedonian Denar', 'MMK': 'Myanma Kyat', 'MNT': 'Mongolian Tugrik', 'MOP': 'Macanese Pataca', 'MRO': 'Mauritanian Ouguiya (pre-2018)', 'MRU': 'Mauritanian Ouguiya', 'MUR': 'Mauritian Rupee', 'MVR': 'Maldivian Rufiyaa', 'MWK': 'Malawian Kwacha', 'MXN': 'Mexican Peso', 'MYR': 'Malaysian Ringgit', 'MZN': 'Mozambican Metical', 'NAD': 'Namibian Dollar', 'NGN': 'Nigerian Naira', 'NIO': 'Nicaraguan Córdoba', 'NOK': 'Norwegian Krone', 'NPR': 'Nepalese Rupee', 'NZD': 'New Zealand Dollar', 'OMR': 'Omani Rial', 'PAB': 'Panamanian Balboa', 'PEN': 'Peruvian Nuevo Sol', 'PGK': 'Papua New Guinean Kina', 'PHP': 'Philippine Peso', 'PKR': 'Pakistani Rupee', 'PLN': 'Polish Zloty', 'PYG': 'Paraguayan Guarani', 'QAR': 'Qatari Rial', 'RON': 'Romanian Leu', 'RSD': 'Serbian Dinar', 'RUB': 'Russian Ruble', 'RWF': 'Rwandan Franc', 'SAR': 'Saudi Riyal', 'SBD': 'Solomon Islands Dollar', 'SCR': 'Seychellois Rupee', 'SDG': 'Sudanese Pound', 'SEK': 'Swedish Krona', 'SGD': 'Singapore Dollar', 'SHP': 'Saint Helena Pound', 'SLL': 'Sierra Leonean Leone', 'SOS': 'Somali Shilling', 'SRD': 'Surinamese Dollar', 'SSP': 'South Sudanese Pound', 'STD': 'São Tomé and Príncipe Dobra (pre-2018)', 'STN': 'São Tomé and Príncipe Dobra', 'SVC': 'Salvadoran Colón', 'SYP': 'Syrian Pound', 'SZL': 'Swazi Lilangeni', 'THB': 'Thai Baht', 'TJS': 'Tajikistani Somoni', 'TMT': 'Turkmenistani Manat', 'TND': 'Tunisian Dinar', 'TOP': "Tongan Pa'anga", 'TRY': 'Turkish Lira', 'TTD': 'Trinidad and Tobago Dollar', 'TWD': 'New Taiwan Dollar', 'TZS': 'Tanzanian Shilling', 'UAH': 'Ukrainian Hryvnia', 'UGX': 'Ugandan Shilling', 'USD': 'United States Dollar', 'UYU': 'Uruguayan Peso', 'UZS': 'Uzbekistan Som', 'VEF': 'Venezuelan Bolívar Fuerte (Old)', 'VES': 'Venezuelan Bolívar Soberano', 'VND': 'Vietnamese Dong', 'VUV': 'Vanuatu Vatu', 'WST': 'Samoan Tala', 'XAF': 'CFA Franc BEAC', 'XAG': 'Silver Ounce', 'XAU': 'Gold Ounce', 'XCD': 'East Caribbean Dollar', 'XDR': 'Special Drawing Rights', 'XOF': 'CFA Franc BCEAO', 'XPD': 'Palladium Ounce', 'XPF': 'CFP Franc', 'XPT': 'Platinum Ounce', 'YER': 'Yemeni Rial', 'ZAR': 'South African Rand', 'ZMW': 'Zambian Kwacha', 'ZWL': 'Zimbabwean Dollar'})

# Import Nationality and Currency-Nationality Mapping Data
## Remove Currencies without Representation at Minerva

In [155]:
#https://gist.github.com/emmastiefel/c891ff0910a253b1343259c5f27510bd
nationality =  pd.read_csv("data/nationality.csv")
nationality_df = nationality.loc[:, nationality.columns.intersection(['Nationality', 'Total Students'])]


#https://gist.github.com/HarishChaudhari/4680482
mapping =  pd.read_csv("data/map.csv")

c_list = []
for count, co in enumerate(mapping["Country"]):
    if str(co) not in list(nationality_df["Nationality"]):
        c_list.append(count)

mapping = mapping.drop(c_list)

nationality_df = nationality_df.merge(mapping, left_on='Nationality', right_on='Country').drop(columns = ['Country'])

nationality_df = nationality_df.rename(columns={"Code": "Currency Code"})

nationality_df

   Nationality  Total Students Currency Code
0      Albania               1           ALL
1      Algeria               1           DZD
2    Argentina               3           ARS
3      Armenia               3           AMD
4    Australia               3           AUD
..         ...             ...           ...
72     Uruguay               2           UYU
73  Uzbekistan               1           UZS
74   Venezuela               2           VEF
75     Vietnam              35           VND
76    Zimbabwe               1           ZWL

[77 rows x 3 columns]

## Map Number of Students to Currencies

In [156]:
#multiple countries to same currency, use groupby sum
student_df = nationality_df.groupby(['Currency Code'], as_index=False)['Total Students'].sum()
student_df = student_df.drop(index = 62) #drop venezula, 2 students unaccounted for.
student_df

   Currency Code  Total Students
0            AED               1
1            ALL               1
2            AMD               3
3            ARS               3
4            AUD               3
..           ...             ...
60           UYU               2
61           UZS               1
63           VND              35
64           ZAR               4
65           ZWL               1

[65 rows x 2 columns]

In [157]:
currencies = dict(cur.body)
no_need = list(set(currencies.keys()) - set(student_df['Currency Code']))
for currency in no_need: 
    currencies.pop(currency)
len(currencies)

65

In [265]:
df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])
df["Students"] = list(student_df['Total Students'])


df.Students[59] / sum(df.Students)

0.12794612794612795

# Get Historical Forex from API

## By Calender Year

In [164]:
_17 = Historical().get("2017-12-31")
_18 = Historical().get("2018-12-31")
_19 = Historical().get("2019-12-31")
_20 = Historical().get("2020-12-31")

responses = [_17.body['rates']
             ,_18.body['rates']
             ,_19.body['rates']
             ,_20.body['rates']]

RES = copy.deepcopy(responses)

sems = ['2017','2018','2019', '2020']

#includes housing, student services, tuition and manifest (last sem)
#excludes security deposits, insurance payments, etc.
sem_rates = [24450, 24950, 25950, 25950]

# Inflation Data!

In [285]:
#https://www.imf.org/external/datamapper/PCPIEPCH@WEO/WEOWORLD

#enter data
inflation_df =  pd.read_csv("data/imf_inflation.csv")

#store last row of euro data
euro_inflation_data = inflation_df.iloc[-1]
euro_inflation_data['Currency Code'] = "EUR"

inflation_df

                 Country  2017  2018   2019  2020
0            Afghanistan     3   0.8    2.8     5
1                Albania   1.8   1.8    1.1   1.2
2                Algeria   4.9   2.7    2.4   5.2
3                 Angola  23.7  18.6   16.9  22.2
4    Antigua and Barbuda   2.4   1.7    1.5   0.7
..                   ...   ...   ...    ...   ...
190   West Bank and Gaza     0   0.3    1.3  -1.7
191                Yemen    47  14.3    6.2  45.4
192               Zambia   6.1   7.9   11.7    13
193             Zimbabwe   3.4  42.1  521.1   495
194            Euro area   1.3   1.5    1.3   0.1

[195 rows x 5 columns]

In [286]:
#find rows to drop in inflation dataset
inflation_data_to_drop = []
for index,country in enumerate(inflation_df.Country):
    if country not in list(nationality_df.Nationality):
        inflation_data_to_drop.append(index)
        
#drop rows with no Minervan nationality
inflation_df = inflation_df.drop(inflation_data_to_drop)
inflation_df = inflation_df.reset_index(drop=True)

#merge on nationality_df to find currencies of each country
inflation_df = inflation_df.merge(nationality_df, left_on='Country', right_on='Nationality').drop(columns = ['Nationality','Total Students'])
inflation_df

       Country   2017      2018    2019  2020 Currency Code
0      Albania    1.8       1.8     1.1   1.2           ALL
1      Algeria    4.9       2.7     2.4   5.2           DZD
2    Argentina   24.8      47.6    53.8  41.7           ARS
3      Armenia    2.6       1.8     0.7   1.5           AMD
4    Australia    2.1       1.7     1.8   0.6           AUD
..         ...    ...       ...     ...   ...           ...
72     Uruguay    6.6         8     8.8   9.5           UYU
73  Uzbekistan   18.8      14.3    15.2  12.1           UZS
74   Venezuela  862.6  130060.2  9585.5  6500           VEF
75     Vietnam    2.6         3     5.2   3.1           VND
76    Zimbabwe    3.4      42.1   521.1   495           ZWL

[77 rows x 6 columns]

In [287]:
more_inflation_data_to_drop = []
for index,currency in enumerate(inflation_df["Currency Code"]):
    if currency == "EUR":
        more_inflation_data_to_drop.append(index)
        
#drop Euro zone country respective inflation data
inflation_df = inflation_df.drop(more_inflation_data_to_drop)
inflation_df = inflation_df.reset_index(drop=True)

#drop venezuela because that inflation rate wow.
inflation_df = inflation_df.drop([62])

#include EURO
inflation_df = inflation_df.append(euro_inflation_data).drop(columns = ['Country'])

#convert to floats
inflation_df[['2017','2018','2019','2020']] = inflation_df[['2017','2018','2019','2020']].astype('float')

#sort alphabetic currency code
inflation_df = inflation_df.sort_values('Currency Code', ascending=True)

#reset index
inflation_df = inflation_df.reset_index(drop=True)


inflation_df.index = inflation_df['Currency Code']


inflation_df

                  2017     2018      2019      2020 Currency Code
Currency Code
AED            2.00000  3.10000  -1.90000  -1.50000           AED
ALL            1.80000  1.80000   1.10000   1.20000           ALL
AMD            2.60000  1.80000   0.70000   1.50000           AMD
ARS           24.80000 47.60000  53.80000  41.70000           ARS
AUD            2.10000  1.70000   1.80000   0.60000           AUD
...                ...      ...       ...       ...           ...
UYU            6.60000  8.00000   8.80000   9.50000           UYU
UZS           18.80000 14.30000  15.20000  12.10000           UZS
VND            2.60000  3.00000   5.20000   3.10000           VND
ZAR            4.70000  4.90000   3.70000   3.30000           ZAR
ZWL            3.40000 42.10000 521.10000 495.00000           ZWL

[65 rows x 5 columns]

# Convert to 2017 USD

In [316]:
for count,sem in enumerate(RES):

    for c in list(sem.keys()):
        if c not in list(currencies.keys()):
            sem.pop(c)

    #get rates for each currency        
    df[sems[count] +"_Rates"] = sem.values()
    
    #usd value in 2017
    #multiply exchange rate of that year with tuition, convert to 
    df[sems[count]] = [ ((rate * sem_rates[count])/ list(RES[0].values())[index]) for index,rate in enumerate(sem.values()) ]
    
    #df[sems[count] +"_Difference"] = [ round(((rate * sem_rates[count])/ list(RES[0].values())[index]  - sem_rates[0])) for index,rate in enumerate(sem.values()) ]

df

,CurrencyName,Students,2017_Rates,2017,2018_Rates,2018,2019_Rates,2019,2020_Rates,2020
AED,United Arab Emirates Dirham,1,3.67287,24450.00000,3.67278,24949.40221,3.67320,25952.35275,3.67301,25950.99621
ALL,Albanian Lek,1,110.81531,24450.00000,107.94662,24304.11753,108.56339,25422.66113,100.74137,23590.95124
AMD,Armenian Dram,3,483.25497,24450.00000,485.46483,25064.09320,478.89154,25715.69112,522.91000,28079.41025
ARS,Argentine Peso,3,19.15400,24450.00000,37.61500,48997.29821,59.84070,81072.68273,84.07466,113905.05383
AUD,Australian Dollar,3,1.28060,24450.00000,1.42048,27675.23126,1.42552,28886.58922,1.29885,26319.79662
...,...,...,...,...,...,...,...,...,...,...
UYU,Uruguayan Peso,2,28.79468,24450.00000,32.40837,28081.18745,37.21296,33536.61976,42.23501,38062.53660
UZS,Uzbekistan Som,1,8108.25000,24450.00000,8345.89174,25681.25043,9505.63945,30422.26666,10474.79528,33523.99561
VND,Vietnamese Dong,35,22701.41115,24450.00000,23116.20792,25405.88265,23179.64399,26496.66832,23192.97046,26511.90182
ZAR,South African Rand,4,12.37860,24450.00000,14.36125,28946.19200,14.01090,29371.90004,14.66265,30738.20312
ZWL,Zimbabwean Dollar,1,322.35501,24450.00000,322.35501,24950.00000,322.00000,25921.42123,322.00000,25921.42115

In [317]:
explore = df.loc[:, df.columns.intersection([ sem for sem in sems ])]
#explore = explore.drop(index = "VEF")

#bar chart data
explore.columns = sems

explore['Currency'] = explore.index
first_col = explore.pop('Currency')
exlore =explore.insert(0, 'Currency', first_col)
explore["FullCurrency"] = df["CurrencyName"]


#explore = explore.drop(columns = 'total')
explore[58:]

,Currency,2017,2018,2019,2020,FullCurrency
UGX,UGX,24450.00000,25474.87580,26158.29402,26093.69600,Ugandan Shilling
USD,USD,24450.00000,24950.00000,25950.00000,25950.00000,United States Dollar
UYU,UYU,24450.00000,28081.18745,33536.61976,38062.53660,Uruguayan Peso
UZS,UZS,24450.00000,25681.25043,30422.26666,33523.99561,Uzbekistan Som
VND,VND,24450.00000,25405.88265,26496.66832,26511.90182,Vietnamese Dong
ZAR,ZAR,24450.00000,28946.19200,29371.90004,30738.20312,South African Rand
ZWL,ZWL,24450.00000,24950.00000,25921.42123,25921.42115,Zimbabwean Dollar

# Adjust For Inflation

In [318]:
'''how to adjust for inflation with inflation rates
inflation rate = cpi x year - cpi base year

'''
cpi17 = 100
cpi18 = ((inflation_df['2018']*cpi17/100)+cpi17)
cpi19 = ((inflation_df['2019']*cpi18/100)+cpi18)
cpi20 = ((inflation_df['2020']*cpi19/100)+cpi19)

explore['2017'] = explore['2017'] / cpi17 * cpi17
explore['2018'] = explore['2018'] / cpi18 * cpi17
explore['2019'] =  explore['2019'] / cpi19 * cpi17
explore['2020'] = explore['2020'] / cpi20 * cpi17

In [319]:
#line chart data

explore['Currency'] =  df["CurrencyName"]
explore = explore.drop(columns = 'FullCurrency')
explore = explore.sort_values('Currency', ascending=True)
explore = explore.drop(index = "ZWL")
explore = explore.round(decimals=0)

explore.to_csv("./ForexQuestIdyll/data/explore.csv",index = False)


import csv
with open("./ForexQuestIdyll/data/currencies.csv", 'w', newline='') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    wr.writerow(list(explore.Currency))

explore

,Currency,2017,2018,2019,2020
ALL,Albanian Lek,24450.00000,23874.00000,24701.00000,22650.00000
DZD,Algerian Dinar,24450.00000,25033.00000,25621.00000,27009.00000
ARS,Argentine Peso,24450.00000,33196.00000,35713.00000,35410.00000
AMD,Armenian Dram,24450.00000,24621.00000,25085.00000,26986.00000
AUD,Australian Dollar,24450.00000,27213.00000,27901.00000,25271.00000
...,...,...,...,...,...
AED,United Arab Emirates Dirham,24450.00000,24199.00000,25660.00000,26049.00000
USD,United States Dollar,24450.00000,24485.00000,24942.00000,24429.00000
UYU,Uruguayan Peso,24450.00000,26001.00000,28541.00000,29582.00000
UZS,Uzbekistan Som,24450.00000,22468.00000,23104.00000,22712.00000
VND,Vietnamese Dong,24450.00000,24666.00000,24453.00000,23732.00000

In [235]:
explore = explore.sort_index(ascending=True)

#to observable to convert
sems_dates = ["December 31, 2017",
              "December 31, 2018",
              "December 31, 2019",
              "December 31, 2020",]

a = ['Currency'] + sems_dates  

explore.columns = a

explore['Students'] = list(df['Students'].drop(index = "ZWL"))

explore.to_csv("./ForexQuestIdyll/data/observable.csv", index=False)

explore

,Currency,"December 31, 2017","December 31, 2018","December 31, 2019","December 31, 2020",Students
AED,United Arab Emirates Dirham,24450.00000,24199.00000,25660.00000,26049.00000,1
ALL,Albanian Lek,24450.00000,23874.00000,24701.00000,22650.00000,1
AMD,Armenian Dram,24450.00000,24621.00000,25085.00000,26986.00000,3
ARS,Argentine Peso,24450.00000,33196.00000,35713.00000,35410.00000,3
AUD,Australian Dollar,24450.00000,27213.00000,27901.00000,25271.00000,3
...,...,...,...,...,...,...
USD,United States Dollar,24450.00000,24485.00000,24942.00000,24429.00000,76
UYU,Uruguayan Peso,24450.00000,26001.00000,28541.00000,29582.00000,2
UZS,Uzbekistan Som,24450.00000,22468.00000,23104.00000,22712.00000,1
VND,Vietnamese Dong,24450.00000,24666.00000,24453.00000,23732.00000,35
ZAR,South African Rand,24450.00000,27594.00000,27001.00000,27354.00000,4

In [238]:
explore['total'] = explore.sum(axis=1)
explore = explore.drop(columns = ["Students"])
explore.to_csv("./ForexQuestIdyll/data/bar_data.csv")

In [239]:
explore

,Currency,"December 31, 2017","December 31, 2018","December 31, 2019","December 31, 2020",total
AED,United Arab Emirates Dirham,24450.00000,24199.00000,25660.00000,26049.00000,100359.00000
ALL,Albanian Lek,24450.00000,23874.00000,24701.00000,22650.00000,95676.00000
AMD,Armenian Dram,24450.00000,24621.00000,25085.00000,26986.00000,101145.00000
ARS,Argentine Peso,24450.00000,33196.00000,35713.00000,35410.00000,128772.00000
AUD,Australian Dollar,24450.00000,27213.00000,27901.00000,25271.00000,104838.00000
...,...,...,...,...,...,...
USD,United States Dollar,24450.00000,24485.00000,24942.00000,24429.00000,98382.00000
UYU,Uruguayan Peso,24450.00000,26001.00000,28541.00000,29582.00000,108576.00000
UZS,Uzbekistan Som,24450.00000,22468.00000,23104.00000,22712.00000,92735.00000
VND,Vietnamese Dong,24450.00000,24666.00000,24453.00000,23732.00000,97336.00000
ZAR,South African Rand,24450.00000,27594.00000,27001.00000,27354.00000,106403.00000

# Short Term Volatility

## Illustrate Fin Aid Problem

In [133]:
'''
Packages Delivered to Students: Historical().get("2020-03-16")
Fall Term Bill: Historical().get("2020-07-15")
Spring Term Bill: Historical().get("2020-11-30")
'''


package = Historical().get("2020-03-16")
fall = Historical().get("2020-07-15")
spring = Historical().get("2020-11-30")

short = [package.body['rates']
             ,fall.body['rates']
             ,spring.body['rates']]

In [140]:
#export_fin_aid["Fin Aid Package Release"] = 
def percentages(df, col_name, initial):
    b = []
    for count, i in enumerate(list(df[col_name])):
        new = 100*(i-df[initial][count])/df[ initial][count]
        b.append(new)
    df[col_name] = b
    
fin_aid_df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])

#fin_dates = ["2020-03-16","2020-07-15","2020-11-30"]
fin_dates = ["Fin Aid Package Release","Fall20 Bill Due","Spring21 Bill Due"]

for count,sem in enumerate(short):
    for c in list(sem.keys()):
        if c not in list(currencies.keys()):
            sem.pop(c)
            
    fin_aid_df[fin_dates[count]] = sem.values()
    
export_fin_aid = fin_aid_df


export_fin_aid.index = export_fin_aid['CurrencyName']
export_fin_aid = export_fin_aid.drop(columns = ["CurrencyName"])


export_fin_aid[:10]

,Fin Aid Package Release,Fall20 Bill Due,Spring21 Bill Due
CurrencyName,,,
United Arab Emirates Dirham,3.67330,3.67320,3.67320
Albanian Lek,109.40953,108.72440,103.68506
Armenian Dram,487.46314,481.61623,481.61623
Argentine Peso,62.96456,71.29047,81.30862
Australian Dollar,1.63877,1.42691,1.35885
Azerbaijani Manat,1.70250,1.70250,1.70250
Bangladeshi Taka,84.88204,84.77021,84.82090
Bulgarian Lev,1.75046,1.71325,1.63875
Brazilian Real,5.00090,5.37017,5.33260
Belarusian Ruble,2.37090,2.39826,2.59030

In [141]:
percentages(export_fin_aid, "Fall20 Bill Due", "Fin Aid Package Release")
percentages(export_fin_aid, "Spring21 Bill Due", "Fin Aid Package Release")
percentages(export_fin_aid, "Fin Aid Package Release", "Fin Aid Package Release")

export_fin_aid = export_fin_aid
export_fin_aid = export_fin_aid.round(decimals=5)
export_fin_aid["Students"] = list(student_df['Total Students'])

hyp = []
hyp2 = []
for i in export_fin_aid['Fall20 Bill Due']:
    hyp.append((10000 * i/100) + 10000)
for i in export_fin_aid['Spring21 Bill Due']:
    hyp2.append((10000 * i/100) + 10000)
    
export_fin_aid["Hypothetical"] = hyp
export_fin_aid["Hypothetical2"] = hyp2

export_fin_aid = export_fin_aid.round(decimals=2)


export_fin_aid.to_csv("./ForexQuestIdyll/data/fin_aid_process_data.csv")

In [142]:
export_fin_aid

,Fin Aid Package Release,Fall20 Bill Due,Spring21 Bill Due,Students,Hypothetical,Hypothetical2
CurrencyName,,,,,,
United Arab Emirates Dirham,0.00000,-0.00000,-0.00000,1,9999.73000,9999.73000
Albanian Lek,0.00000,-0.63000,-5.23000,1,9937.38000,9476.78000
Armenian Dram,0.00000,-1.20000,-1.20000,3,9880.05000,9880.05000
Argentine Peso,0.00000,13.22000,29.13000,3,11322.32000,12913.40000
Australian Dollar,0.00000,-12.93000,-17.08000,3,8707.21000,8291.90000
...,...,...,...,...,...,...
Uruguayan Peso,0.00000,0.90000,-1.83000,2,10089.81000,9816.72000
Uzbekistan Som,0.00000,7.38000,9.29000,1,10738.02000,10929.10000
Vietnamese Dong,0.00000,-0.18000,-0.15000,35,9981.96000,9985.31000
South African Rand,0.00000,-0.17000,-7.05000,4,9982.72000,9295.25000
Zimbabwean Dollar,0.00000,-0.00000,-0.00000,1,10000.00000,10000.00000

## installments?

In [245]:
'''
Install1: Historical().get("2020-07-15")
Install2: Historical().get("2020-09-15")
Install3: Historical().get("2020-11-15")
'''


install1 = Historical().get("2020-07-15")
install2= Historical().get("2020-09-15")
install3= Historical().get("2020-11-15")

short = [install1.body['rates']
        , install2.body['rates']
        , install3.body['rates']]

In [258]:
install_df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])

#fin_dates = ["2020-03-16","2020-07-15","2020-11-30"]
install_dates = ["July 15th, 2020 (1st Installment)","Sep 15th, 2020 (2nd Installment)","Nov 15th, 2020 (3rd Installment)"]

for count,sem in enumerate(short):
    for c in list(sem.keys()):
        if c not in list(currencies.keys()):
            sem.pop(c)
            
    install_df[install_dates[count]] = sem.values()
    
export_install = install_df


export_install.index = export_install['CurrencyName']
export_install = export_install.drop(columns = ["CurrencyName"])

percentages(export_install, "Sep 15th, 2020 (2nd Installment)", "July 15th, 2020 (1st Installment)")
percentages(export_install, "Nov 15th, 2020 (3rd Installment)", "July 15th, 2020 (1st Installment)")
percentages(export_install, "July 15th, 2020 (1st Installment)", "July 15th, 2020 (1st Installment)")

hyp = []
hyp2 = []
for i in export_install['Sep 15th, 2020 (2nd Installment)']:
    hyp.append((10000 * i/100))
for i in export_install['Nov 15th, 2020 (3rd Installment)']:
    hyp2.append((10000 * i/100))
    
export_install["Sep 15th, 2020 (2nd Installment)"] = hyp
export_install["Nov 15th, 2020 (3rd Installment)"] = hyp2
export_install["July 15th, 2020 (1st Installment)"] = 0
export_install["4% Service Fee"] = 1200
export_install["total"] = 1200 + export_install["Sep 15th, 2020 (2nd Installment)"] + export_install["Nov 15th, 2020 (3rd Installment)"]


export_install = export_install.round(decimals=2)


export_install.to_csv("./ForexQuestIdyll/data/installments_data.csv")

In [259]:
export_install

,"July 15th, 2020 (1st Installment)","Sep 15th, 2020 (2nd Installment)","Nov 15th, 2020 (3rd Installment)",4% Service Fee,total
CurrencyName,,,,,
United Arab Emirates Dirham,0,0.00000,-0.63000,1200,1199.37000
Albanian Lek,0,-391.98000,-368.02000,1200,440.00000
Armenian Dram,0,0.00000,0.00000,1200,1200.00000
Argentine Peso,0,540.69000,1174.64000,1200,2915.33000
Australian Dollar,0,-395.08000,-386.41000,1200,418.51000
...,...,...,...,...,...
Uruguayan Peso,0,-316.09000,-222.75000,1200,661.16000
Uzbekistan Som,0,61.43000,168.45000,1200,1429.88000
Vietnamese Dong,0,22.75000,-47.47000,1200,1175.28000
South African Rand,0,-83.22000,-640.98000,1200,475.80000
Zimbabwean Dollar,0,0.00000,0.00000,1200,1200.00000

## Get Quarterly Rates

In [569]:
quarterly_rates = []
quarterly_dates =[]

for year in tqdm([2017,2018,2019,2020]):
    for month in ["01","03","06","09"]:
        date = f"{year}-{month}-01"
        quarterly_dates.append(date)
        quarterly_rates.append(Historical().get(date).body['rates'])

100%|██████████| 4/4 [00:04<00:00,  1.23s/it]

In [571]:
quarterly_df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])
for count,sem in enumerate(quarterly_rates):
    for c in list(sem.keys()):
        if c not in list(currencies.keys()):
            sem.pop(c)
            
    quarterly_df[quarterly_dates[count]] = sem.values()
    
quarterly_df = quarterly_df.drop(columns = ["CurrencyName"])

In [572]:
quarterly_df

,2017-01-01,2017-03-01,2017-06-01,2017-09-01,2018-01-01,2018-03-01,2018-06-01,2018-09-01,2019-01-01,2019-03-01,2019-06-01,2019-09-01,2020-01-01,2020-03-01,2020-06-01,2020-09-01
AED,3.67290,3.67261,3.67290,3.67302,3.67278,3.67310,3.67316,3.67318,3.67311,3.67300,3.67274,3.67299,3.67320,3.67303,3.67320,3.67320
ALL,128.29838,128.00312,119.58839,112.65000,110.66180,108.12000,107.50000,108.99000,107.72677,110.30000,109.75000,110.75773,109.15356,111.70000,111.73701,103.59047
AMD,483.72750,485.95623,483.13877,479.97899,483.16490,480.78038,483.02000,482.91541,484.06811,490.04460,480.42521,476.37149,481.45533,478.38209,483.42300,481.61623
ARS,15.86875,15.45000,16.05100,17.21000,18.59141,20.14750,24.94800,36.84200,37.65150,39.82500,44.69400,59.50300,59.92753,61.99251,68.57827,74.24998
AUD,1.38620,1.30563,1.35494,1.25485,1.28221,1.28790,1.32116,1.39005,1.41881,1.41243,1.44050,1.48680,1.42450,1.54568,1.47407,1.35555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UYU,29.24560,28.19378,28.29338,28.97421,28.82706,28.35343,31.21418,32.21382,32.36172,32.63410,35.24947,36.63912,37.33226,38.96242,43.30512,42.60436
UZS,3195.62661,3340.75000,3851.20000,4198.90000,8101.40000,8186.98333,7990.00000,7830.83443,8318.96846,8400.00000,8490.00000,9385.69491,9505.63945,9526.00000,10151.04352,10259.04897
VND,22792.50000,22782.96667,22696.90565,22743.62347,22700.88386,22747.11003,22797.27535,23114.33767,23177.00678,23216.86756,23303.00905,23285.59634,23191.33305,23120.15961,23224.12301,23300.46417
ZAR,13.78381,13.02427,12.89545,12.94035,12.40178,11.86436,12.69016,14.68696,14.39440,14.22819,14.58455,15.23625,14.00950,15.80901,17.38700,16.63200
ZWL,322.32277,322.32277,322.38725,322.35501,322.35501,322.35501,322.35501,322.35501,322.35501,322.35501,322.35501,322.00000,322.00000,322.00000,322.00000,322.00000

## Get Monthly Rates

In [642]:
monthly_rates = []
monthly_dates =[]

for year in tqdm([2017,2018,2019,2020]):
    for month in range(1,13):
        if month < 10:
            month = "0"+str(month)
        date = f"{year}-{month}-01"
        monthly_dates.append(date)
        monthly_rates.append(Historical().get(date).body['rates'])

100%|██████████| 4/4 [00:16<00:00,  4.08s/it]

In [658]:
monthly_df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])
for count,sem in enumerate(monthly_rates):
    for c in list(sem.keys()):
        if c not in list(currencies.keys()):
            sem.pop(c)
            
    monthly_df[monthly_dates[count]] = sem.values()

#monthly_df = monthly_df.drop(columns = ["CurrencyName"])

### export rates for visual

In [659]:
export_monthly = monthly_df
export_monthly.index = export_monthly['CurrencyName']
export_monthly = export_monthly.drop(columns = ["CurrencyName"])
export_monthly.T.to_csv("./ForexQuestIdyll/data/monthly_data.csv")

## Get Weekly Rates

In [562]:
weekly_rates = []
weekly_dates =[]

for year in tqdm([2017,2018,2019,2020]):
    for month in range(1,13):
        for week in ["01","07","14","21"]:
            if month < 10:
                month_str = "0"+ str(month)
                date = f"{year}-{month_str}-{week}"
                weekly_dates.append(date)
                weekly_rates.append(Historical().get(date).body['rates'])
            else:
                date = f"{year}-{month}-{week}"
                weekly_dates.append(date)
                weekly_rates.append(Historical().get(date).body['rates'])

100%|██████████| 4/4 [01:01<00:00, 15.26s/it]

In [623]:
weekly_df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])
for count,sem in enumerate(weekly_rates):
    for c in list(sem.keys()):
        if c not in list(currencies.keys()):
            sem.pop(c)
            
    weekly_df[weekly_dates[count]] = sem.values()

weekly_df = weekly_df.drop(columns = ["CurrencyName"])
weekly_df

,2017-01-01,2017-01-07,2017-01-14,2017-01-21,2017-02-01,2017-02-07,2017-02-14,2017-02-21,2017-03-01,2017-03-07,2017-03-14,2017-03-21,2017-04-01,2017-04-07,2017-04-14,2017-04-21,2017-05-01,2017-05-07,2017-05-14,2017-05-21,2017-06-01,2017-06-07,2017-06-14,2017-06-21,2017-07-01,2017-07-07,2017-07-14,2017-07-21,2017-08-01,2017-08-07,2017-08-14,2017-08-21,2017-09-01,2017-09-07,2017-09-14,2017-09-21,2017-10-01,2017-10-07,2017-10-14,2017-10-21,2017-11-01,2017-11-07,2017-11-14,2017-11-21,2017-12-01,2017-12-07,2017-12-14,2017-12-21,2018-01-01,2018-01-07,2018-01-14,2018-01-21,2018-02-01,2018-02-07,2018-02-14,2018-02-21,2018-03-01,2018-03-07,2018-03-14,2018-03-21,2018-04-01,2018-04-07,2018-04-14,2018-04-21,2018-05-01,2018-05-07,2018-05-14,2018-05-21,2018-06-01,2018-06-07,2018-06-14,2018-06-21,2018-07-01,2018-07-07,2018-07-14,2018-07-21,2018-08-01,2018-08-07,2018-08-14,2018-08-21,2018-09-01,2018-09-07,2018-09-14,2018-09-21,2018-10-01,2018-10-07,2018-10-14,2018-10-21,2018-11-01,2018-11-07,2018-11-14,2018-11-21,2018-12-01,2018-12-07,2018-12-14,2018-12-21,2019-01-01,2019-01-07,2019-01-14,2019-01-21,2019-02-01,2019-02-07,2019-02-14,2019-02-21,2019-03-01,2019-03-07,2019-03-14,2019-03-21,2019-04-01,2019-04-07,2019-04-14,2019-04-21,2019-05-01,2019-05-07,2019-05-14,2019-05-21,2019-06-01,2019-06-07,2019-06-14,2019-06-21,2019-07-01,2019-07-07,2019-07-14,2019-07-21,2019-08-01,2019-08-07,2019-08-14,2019-08-21,2019-09-01,2019-09-07,2019-09-14,2019-09-21,2019-10-01,2019-10-07,2019-10-14,2019-10-21,2019-11-01,2019-11-07,2019-11-14,2019-11-21,2019-12-01,2019-12-07,2019-12-14,2019-12-21,2020-01-01,2020-01-07,2020-01-14,2020-01-21,2020-02-01,2020-02-07,2020-02-14,2020-02-21,2020-03-01,2020-03-07,2020-03-14,2020-03-21,2020-04-01,2020-04-07,2020-04-14,2020-04-21,2020-05-01,2020-05-07,2020-05-14,2020-05-21,2020-06-01,2020-06-07,2020-06-14,2020-06-21,2020-07-01,2020-07-07,2020-07-14,2020-07-21,2020-08-01,2020-08-07,2020-08-14,2020-08-21,2020-09-01,2020-09-07,2020-09-14,2020-09-21,2020-10-01,2020-10-07,2020-10-14,2020-10-21,2020-11-01,2020-11-07,2020-11-14,2020-11-21,2020-12-01,2020-12-07,2020-12-14,2020-12-21
AED,3.67290,3.67302,3.67302,3.67302,3.67278,3.67310,3.67301,3.67301,3.67261,3.67270,3.67301,3.67301,3.67290,3.67290,3.67290,3.67310,3.67310,3.67290,3.67294,3.67302,3.67290,3.67310,3.67301,3.67301,3.67301,3.67301,3.67302,3.67302,3.67310,3.67310,3.67309,3.67310,3.67302,3.67301,3.67301,3.67310,3.67297,3.67290,3.67310,3.67290,3.67290,3.67310,3.67270,3.67278,3.67310,3.67290,3.67310,3.67238,3.67278,3.67293,3.67293,3.67294,3.67310,3.67310,3.67310,3.67310,3.67310,3.67310,3.67301,3.67310,3.67290,3.67301,3.67302,3.67301,3.67302,3.67318,3.67301,3.67318,3.67316,3.67318,3.67318,3.67318,3.67301,3.67318,3.67318,3.67318,3.67318,3.67318,3.67318,3.67318,3.67318,3.67330,3.67301,3.67301,3.67318,3.67303,3.67298,3.67296,3.67318,3.67318,3.67310,3.67310,3.67318,3.67301,3.67301,3.67301,3.67311,3.67318,3.67318,3.67318,3.67301,3.67318,3.67310,3.67313,3.67300,3.67318,3.67318,3.67318,3.67318,3.67304,3.67303,3.67302,3.67301,3.67318,3.67318,3.67318,3.67274,3.67301,3.67318,3.67318,3.67318,3.67303,3.67292,3.67296,3.67318,3.67318,3.67318,3.67318,3.67299,3.67302,3.67296,3.67302,3.67318,3.67318,3.67320,3.67300,3.67286,3.67320,3.67320,3.67320,3.67294,3.67300,3.67300,3.67320,3.67320,3.67320,3.67320,3.67320,3.67310,3.67300,3.67300,3.67320,3.67303,3.67300,3.67300,3.67300,3.67320,3.67320,3.67320,3.67320,3.67305,3.67320,3.67310,3.67320,3.67320,3.67299,3.67297,3.67298,3.67302,3.67320,3.67320,3.67320,3.67295,3.67300,3.67315,3.67294,3.67320,3.67320,3.67320,3.67320,3.67320,3.67320,3.67320,3.67299,3.67297,3.67300,3.67300,3.67300,3.67320,3.67320,3.67320,3.67310
ALL,128.29838,128.57500,128.65000,127.91824,126.86598,127.65500,128.13612,128.17112,128.00312,127.97500,127.10000,125.27612,127.67615,128.00000,127.71500,125.76444,123.87948,122.98739,120.50524,120.18333,119.58839,118.80775,119.05000,118.80775,115.98224,116.15000,115.37500,113.67879,112.45320,112.20447,112.51104,112.00884,112.65000,111.31500,111.95760,112.14668,113.77723,114.06902,113.10500,113.60000,114.90390,114.97821,113.76117,113.93305,112.35752,113.41333,113.22034,112.08313,110.66180,110.68704,109.46694,109.56280,107.10956,108.72500,107.10000,107.37500,108.12000,106.40000,106.35000,105.34333,106.31441,105.40000,104.65000,105.35000,106.41677,106.62529,106.20468,107.90462,107.50000,106.55000,108.95000,108.95000,108.30196,107.37500,107.90000,107.25000,107.72333,108.34635,110.35000,108.45000,108.99000,109.40000,108.80000,107.55000,109.02813,108.97007,108.27133,108.55000,109.68341,108.89112,110.35000,109.30000,109.75957,108.50000,109.25000,107.85000,107.72677,107.80000,109.28742,109.35113,108.70000,109.44000,110.20000,109.90500,110.30000,110.59359,110.37000,110.26438,111.68059,111.53469,109.19522,110.35065,109.98236,110.33822,109.91374,109.95996,109.75000,107.82500,108.75000,107.35500,108.22699,108.52500,108.30000,108.97337,109.17500,108.10000,108.33913,109.20623,110.75773,110.17500,109.66000,110.10000,111.71314,111.66276,111.70044,110.75000,110.47119,111.28894,111.58086,110.88237,111.37483,110.95000,110.15000,110.10000,109.15356,109.39165,109.55000,110.25000,110.05000,111.27500,112.70000,112.70000,111.70000,109.15000,109.50000,114.85000,117.00133,115.80977,115.48130,115.00841,112.26250,115.19388,114.41139,112.70976,111.73701,109.68515,110.28811,110.99662,110.50000,109.96004,109.12671,107.94235,105.30000,105.57500,104.87330,104.85672,103.59047,105.05833,104.61985,105.35483,105.58357,105.40851,105.63410,104.73656,106.16482,104.20000,104.80000,104.05000,103.47534,102.39187,101.78279,101.18708
AMD,483.72750,483.80000,485.50750,486.39125,486.28500,485.80750,489.18855,486.87238,485.95623,486.97488,485.19538,483.53377,484.70288,485.15500,487.60000,482.62238,485.99903,482.49488,482.15492,481.21492,483.13877,481.53492,482.58000,479.90323,479.22730,479.54000,476.66500,477.67531,479.54899,479.55899,478.80480,476.36500,479.97899,477.11781,477.73531,477.11781,481.65880,477.03500,481.23000,482.20500,482.40130,485.21500,485.39500,483.97742,485.13500,485.48589,484.16992,482.11761,483.16490,485.24839,480.61038,483.30495,480.69288,483.09745,481.74500,480.63038,480.78038,480.75788,480.91538,479.71649,480.12000,479.87899,483.00995,479.11500,485.79589,486.68250,485.39589,482.43380,483.02000,483.17495,482.54880,482.05130,481.90630,481.03964,480.34379,480.15880,480.83739,481.59146,484.11504,482.07055,482.91541,484.89720,485.11642,482.31229,484.70641,483.95707,485.60928,483.99389,487.52757,488.13537,487.79852,485.22004,487.10917,485.13942,483.72527,483.63369,484.06811,485.23175,486.47672,485.24292,487.52521,487.63798,488.03194,488.06029,490.04460,488.46313,487.41145,485.88630,486.31301,487.34949,485.42601,483.30152,481.33131,481.70737,480.99480,479.26269,480.42521,479.11221,478.67238,477.29103,478.47155,477.01019,476.92000,476.61130,475.89402,476.04816,475.68644,476.04078,476.37149,477.17554,476.96759,476.49847,474.66901,476.39178,477.03338,477.19419,476.48558,477.86005,477.95106,476.82600,477.05837,478.25901,477.87248,477.64166,481.45533,478.81784,479.13475,478.23042,478.62764,478.48406,478.52439,478.31063,478.38209,479.28819,488.99490,492.78332,501.98155,501.37013,486.27245,482.56068,479.54149,483.54608,488.00342,483.57595,483.42300,483.67033,482.64889,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623,481.61623
ARS,15.86875,15.81264,15.84500,15.80582,15.79400,15.67700,15.47650,15.58900,15.45000,15.56650,15.54300,15.62400,15.37925,15.34466,15.16250,15.47750,15.38350,15.38431,15.37350,15.95450,16.05100,15.99200,15.90400,16.21644,16.62350,16.96448,16.85943,17.40700,17.57400,17.69250,17.12850,17.32334,17.21000,17.19350,16.99050,17.26350,17.53723,17.43800,17.33970,17.41000,17.60439,17.64950,17.48200,17.48550,17.21350,17.27400,17.43050,17.93100,18.59141,18.64450,18.59950,18.93250,19.36150,19.68350,19.89700,19.90400,20.14750,20.37500,20.22430,20.26550,20.16125,20.14950,20.20300,20.18950,20.71029,21.94350,24.99900,24.37100,24.94800,24.98600,27.70650,27.49100,28.95000,27.95400,27.22113,27.57550,27.50100,27.38600,29.74800,29.98350,36.84200,37.03400,39.92800,37.17700,39.47450,37.83000,36.72300,36.55400,35.66750,35.65350,35.88800,36.26600,37.73300,37.40500,38.14200,37.93400,37.65150,37.30100,36.98000,37.80647,37.15250,37.82300,38.19500,39.53200,39.82500,42.43050,40.73800,41.02200,42.71300,43.95100,42.15500,41.66553,44.38750,45.27170,44.94400,44.79000,44.69400,44.81100,43.87900,42.68600,42.36000,41.79600,41.58900,42.44270,44.29480,45.51100,60.23200,55.00050,59.50300,55.50631,55.96820,56.69300,57.41646,57.83220,58.04343,58.40400,59.50966,59.60080,59.60550,59.74710,59.65594,59.89619,59.76781,59.72221,59.92753,59.73910,59.98730,60.10110,60.26834,60.69283,61.37653,61.75781,61.99251,62.43176,62.68554,63.36410,64.43650,64.99270,65.42600,66.03580,65.92231,67.03312,67.58920,68.02540,68.57827,68.74714,69.40063,69.74660,70.51030,70.88040,71.21910,71.72710,72.37640,72.76477,73.15561,73.58744,74.24998,74.65130,75.05910,75.51710,76.18697,77.11155,77.40600,77.67010,78.38078,79.03767,79.73216,80.34386,81.43604,81.49170,82.37370,83.09430
AUD,1.38620,1.37061,1.33353,1.32345,1.31869,1.31219,1.30390,1.30276,1.30563,1.31684,1.32174,1.30320,1.31053,1.33333,1.31905,1.32556,1.32770,1.34851,1.35257,1.34196,1.35494,1.32635,1.31757,1.32458,1.30056,1.31500,1.27730,1.26390,1.25685,1.26325,1.27302,1.26011,1.25485,1.24120,1.24960,1.26102,1.27521,1.28685,1.26760,1.27943,1.30259,1.30645,1.31070,1.31838,1.31389,1.33147,1.30459,1.29773,1.28221,1.27238,1.26450,1.24974,1.24379,1.27940,1.26110,1.28252,1.28790,1.27769,1.26898,1.28624,1.30159,1.30190,1.28784,1.30293,1.33660,1.32994,1.32874,1.31898,1.32116,1.31316,1.33948,1.35570,1.35160,1.34535,1.34730,1.34880,1.35034,1.34674,1.38205,1.35847,1.39005,1.40668,1.39840,1.37024,1.38353,1.41750,1.40705,1.40579,1.38795,1.37475,1.38255,1.37703,1.36724,1.38735,1.39295,1.42086,1.41881,1.39967,1.38909,1.39686,1.37874,1.40966,1.40765,1.40683,1.41243,1.42375,1.41487,1.40721,1.40642,1.40840,1.39460,1.39900,1.42573,1.42692,1.44144,1.45290,1.44050,1.42880,1.45500,1.44260,1.43574,1.43242,1.42520,1.41981,1.47017,1.47989,1.48053,1.47393,1.48680,1.46028,1.45410,1.47725,1.49081,1.48530,1.47596,1.45550,1.44740,1.44963,1.47344,1.47341,1.47812,1.46191,1.45421,1.44900,1.42450,1.45780,1.45038,1.46046,1.49388,1.49858,1.48965,1.50885,1.54568,1.50446,1.61786,1.72622,1.64200,1.62560,1.55410,1.58940,1.55760,1.53826,1.54545,1.52287,1.47407,1.42856,1.46505,1.46631,1.44693,1.44049,1.43104,1.40094,1.40080,1.39730,1.39425,1.39661,1.35555,1.37356,1.37274,1.38310,1.39240,1.40095,1.40034,1.40786,1.42699,1.37779,1.37547,1.36934,1.35490,1.34851,1.32732,1.31995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UYU,29.24560,28.65384,28.70718,28.61283,28.14615,28.40176,28.52724,28.29338,28.19378,28.34539,28.30526,28.16201,28.65384,28.47457,28.48660,28.46646,28.12650,27.87673,27.94843,28.08413,28.29338,28.41791,28.36564,28.32545,28.31064,28.98152,28.77328,28.62526,28.26553,28.43407,28.87702,28.67424,28.97421,28.82706,29.00675,28.87702,29.28834,29.20575,29.39438,29.60298,29.17577,29.20575,29.34261,29.23549,28.99834,29.00675,28.87702,28.77328,28.82706,28.69604,28.50833,28.66058,28.39369,28.49472,28.79385,28.50284,28.35343,28.32545,28.31743,28.46646,28.37757,28.26553,28.30526,28.22342,28.48910,29.16315,30.23338,31.41510,31.21418,31.07366,31.31669,31.73387,31.35307,31.36114,31.36582,30.96197,30.56585,30.06095,31.44474,31.71374,32.21382,32.54397,33.00529,32.90227,33.04364,32.76444,32.96115,32.79989,32.84299,32.77838,32.65542,32.51222,32.08475,32.16734,32.28664,32.26580,32.36172,32.51222,32.80511,32.63410,32.49621,32.56517,32.61281,32.68745,32.63410,32.70332,33.40768,33.35196,33.50267,33.73098,33.99258,34.28719,34.65207,35.05174,35.24308,35.28679,35.24947,35.37087,35.30531,35.23705,35.19346,35.11329,35.11674,35.12968,34.35388,35.23450,35.89417,36.61682,36.63912,36.60342,36.46990,36.73098,36.75397,37.14703,37.14703,37.37597,37.44596,37.47403,37.57948,37.70704,37.91021,37.82811,37.84243,37.62190,37.33226,37.28519,37.25064,37.37597,37.59361,37.57948,38.06555,38.09546,38.96242,40.15893,43.40565,45.81406,44.00048,43.64537,43.53136,43.21154,42.72449,42.55815,43.92316,43.43682,43.30512,42.94359,42.90991,42.58874,42.21780,43.17422,43.71194,43.73276,42.36089,42.73181,42.52303,42.87841,42.60436,42.45082,42.50496,42.45082,42.46227,42.50496,42.64069,42.73181,42.93033,42.75008,42.85064,42.83228,42.53186,42.64069,42.46885,42.14662
UZS,3195.62661,3216.30000,3238.10000,3236.70000,3271.35995,3285.48495,3325.70000,3290.98495,3340.75000,3324.00000,3510.07611,3502.97611,3601.85000,3643.00000,3657.95000,3700.00000,3717.50000,3728.33333,3767.40000,3779.03151,3851.20000,3856.50000,3915.00000,3922.12564,3949.45000,3987.50000,3994.90000,4036.10000,4077.89167,4091.34167,4133.60000,4134.55000,4198.90000,8076.45000,8081.45000,8091.00000,8103.93333,8065.00000,8055.95000,8060.00000,8092.80000,8054.60000,8072.85000,8076.65000,8098.10000,8103.90000,8127.75000,8100.80000,8101.40000,8147.93333,8105.70000,8167.80000,8177.73333,8198.66667,8196.05000,8199.36667,8186.98333,8164.80000,8150.96667,8156.06667,8132.90000,8100.20000,8110.00000,8070.50000,8088.38000,8065.68333,8027.10000,8014.78820,7990.00000,7954.00000,7916.56667,7891.00000,7885.58333,7814.45000,7818.00000,7792.00000,7793.90244,7785.88888,7796.09674,7802.99782,7830.83443,7849.37984,7875.00000,8045.00000,8085.11779,8161.79053,8178.50000,8220.00000,8232.18707,8253.42284,8287.50000,8282.91607,8338.67987,8312.50000,8310.50000,8317.50000,8318.96846,8336.91815,8348.71020,8350.82172,8390.00000,8398.25012,8396.98418,8393.90468,8400.00000,8390.40198,8375.00000,8380.90198,8409.05788,8415.07279,8445.39076,8461.61330,8445.51890,8447.39131,8452.20196,8451.30681,8490.00000,8510.00000,8513.00000,8520.00000,8596.16915,8580.00000,8583.00000,8585.45908,8661.57172,8700.00000,8661.39757,9058.87445,9385.69491,9395.00000,9400.00000,9410.00000,9418.13888,9420.91085,9442.55146,9435.09167,9446.96807,9470.10529,9495.43475,9506.78597,9497.84415,9515.00000,9520.00000,9515.00000,9505.63945,9534.41427,9555.00000,9552.00000,9545.00000,9537.50000,9530.00000,9523.00000,9526.00000,9510.00000,9508.55038,9515.00000,9576.46579,9595.00000,9708.00000,10130.97273,10122.50000,10116.79826,10129.74393,10104.00000,10151.04352,10146.98600,10167.52077,10165.00000,10185.00000,10194.33636,10213.36437,10205.79664,10195.00000,10200.00000,10254.39317,10262.38824,10259.04897,10268.08477,10277.97818,10298.78924,10312.18694,10343.05959,10353.89854,10361.62699,10357.38756,10366.00000,10380.00000,10382.50000,10432.69628,10396.19120,10397.18372,10467.98901
VND,22792.50000,22539.20000,22582.10000,22574.98333,22586.81667,22589.03333,22722.01667,22831.56667,22782.96667,22781.08023,22762.30534,22759.68417,22774.34338,22649.64642,22676.95903,22703.71951,22760.33333,22703.66667,22652.00000,22638.50000,22696.90565,22701.10455,22699.12336,22727.18716,22709.07319,22723.82275,22732.64451,22704.96055,22685.96274,22800.33333,22726.25000,22718.16667,22743.62347,22717.93624,22719.20012,22725.82424,22770.76667,22723.24430,22724.59428,22720.58664,22714.45331,22706.61997,22715.98664,22721.26066,22718.80156,22715.83566,22715.10233,22703.26964,22700.88386,22702.28240,22705.28240,22702.21573,22710.33622,22705.34738,22701.83030,22713.37000,22747.11003,22760.60097,22767.03201,22772.76534,22788.03201,22795.76534,22778.76534,22774.43201,22759.45234,22767.58917,22767.35781,22772.62196,22797.27535,22799.38126,22815.75452,22857.84280,22939.59250,22982.43415,22992.74565,22989.05267,23108.93767,23111.78767,23114.35267,23103.46517,23114.33767,23117.18267,23096.24017,23120.03517,23118.76267,23232.54017,23263.33017,23263.44017,23252.42517,23244.62267,23237.45517,23255.97017,23242.89517,23240.53517,23236.34226,23366.21857,23177.00678,23120.75995,23194.71872,23199.12196,23205.00000,23188.13243,23148.20793,23232.80784,23216.86756,23426.29515,23188.96376,23238.71537,23256.96509,23221.60743,23219.90695,23224.54952,23311.14261,23310.61574,23433.69953,23354.70683,23303.00905,23233.34774,23390.38775,23111.75455,23361.94945,23310.84591,23177.18628,23288.35301,23109.93016,23175.64047,23280.82745,23226.57940,23285.59634,22985.85000,23072.82145,23264.72606,23127.44770,23213.50965,23216.24860,23229.64937,23129.42387,23256.25496,23139.06241,23234.07630,23134.25020,23250.35973,23289.55441,23219.72578,23191.33305,23234.74358,23181.99599,23213.52229,23103.75597,23244.37297,23259.48830,23155.60200,23120.15961,23302.19041,23232.99961,23344.63595,23574.30513,23419.20251,23387.66582,23409.02648,22966.34870,23331.76725,23340.28710,23351.46343,23224.12301,23281.20710,23310.41920,23277.41714,23106.85279,23207.11840,23101.63526,22988.90277,23180.00000,23243.14947,23110.16341,23191.18692,23300.46417,23172.44915,23188.52095,23224.77408,23187.81795,23190.40522,23155.83191,23193.27731,23244.74240,23182.52148,23177.50000,23209.42979,22935.30697,23134.08997,23139.44415,22993.17668
ZAR,13.78381,13.75863,13.51411,13.59926,13.46447,13.43905,13.09415,13.15263,13.02427,12.97193,13.15526,12.68739,13.42341,13.77318,13.42015,13.12331,13.39678,13.46083,13.38206,13.21728,12.89545,12.83215,12.63308,13.07381,13.09750,13.39159,13.02959,12.91658,13.25460,13.22420,13.31081,13.16569,12.94035,12.81233,13.12980,13.28960,13.56316,13.71931,13.26709,13.64488,14.06804,14.22240,14.37560,13.97889,13.74373,13.73433,13.50197,12.76150,12.40178,12.33300,12.37330,12.09043,11.85180,12.06175,11.72070,11.67720,11.86436,11.84305,11.77740,11.82414,11.84122,12.03213,12.08630,12.10344,12.67470,12.53444,12.33263,12.67341,12.69016,12.98494,13.44763,13.58760,13.72300,13.47021,13.27604,13.42484,13.22255,13.33008,14.28320,14.39831,14.68696,15.23681,14.93589,14.31650,14.21799,14.80736,14.54317,14.40490,14.41623,13.92388,14.36700,13.94050,13.86968,14.16418,14.38997,14.63809,14.39440,13.87737,13.78814,13.82503,13.32352,13.62251,14.12964,14.02211,14.22819,14.51014,14.52813,14.21478,14.19178,14.10140,13.96907,14.08005,14.45089,14.44354,14.25333,14.41834,14.58455,14.95905,14.81809,14.33330,14.14326,14.20619,13.97381,13.92740,14.61988,15.05651,15.41879,15.19861,15.23625,14.80712,14.57788,14.92172,15.33790,15.18281,14.81920,14.76121,15.02850,14.73060,14.82328,14.68089,14.65731,14.62210,14.50316,14.29370,14.00950,14.36937,14.41650,14.49975,15.00687,15.07677,14.91096,15.00329,15.80901,15.67479,16.10226,17.64331,18.26110,18.25220,18.30520,18.98167,18.81250,18.57295,18.43420,17.58558,17.38700,16.76550,17.17765,17.40084,17.05277,17.16954,16.71400,16.41476,17.06885,17.63767,17.39077,17.15659,16.63200,16.71696,16.66010,16.79320,16.53725,16.63000,16.53150,16.34401,16.27710,15.58855,15.50591,15.40933,15.24780,15.16493,15.03120,14.61315

## Calculate Volatility

In [611]:
quarterly_dev = []
for index, row in quarterly_df.iterrows():
    vol = []
    counter = 0
    while counter < len(row)-1:
        ret = np.log(row[counter+1]/row[counter])
        vol.append(ret)
        counter += 1
    quarterly_dev.append(np.std(vol)*100)

month_dev = []
for index, row in monthly_df.iterrows():
    vol = []
    counter = 0
    while counter < len(row)-1:
        ret = np.log(row[counter+1]/row[counter])
        vol.append(ret)
        counter += 1
    month_dev.append(np.std(vol)*100)
    
week_dev = []
for index, row in weekly_df.iterrows():
    vol = []
    counter = 0
    while counter < len(row)-1:
        ret = np.log(row[counter+1]/row[counter])
        vol.append(ret)
        counter += 1
    week_dev.append(np.std(vol)*100)

In [615]:
vol_df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])
vol_df["Weekly Volatility"] = week_dev
vol_df["Monthly Volatility"] = month_dev
vol_df["Quarterly Volatility"] = quarterly_dev


vol_df

,CurrencyName,Weekly Volatility,Monthly Volatility,Quarterly Volatility
AED,United Arab Emirates Dirham,0.00384,0.00411,0.00538
ALL,Albanian Lek,1.00560,2.05217,3.00088
AMD,Armenian Dram,0.47136,0.68662,0.85060
ARS,Argentine Peso,3.45144,12.95628,10.79820
AUD,Australian Dollar,1.51046,2.07003,4.77043
...,...,...,...,...
UYU,Uruguayan Peso,1.25673,3.45836,4.01310
UZS,Uzbekistan Som,4.76519,10.96315,16.12959
VND,Vietnamese Dong,0.41190,0.46067,0.42505
ZAR,South African Rand,2.23036,3.39691,6.65125
ZWL,Zimbabwean Dollar,0.00997,0.01470,0.02825

In [616]:
vol_df.to_csv("./ForexQuestIdyll/data/volalitity_data.csv")

## Time  / Percentage

In [629]:
weekly_df = pd.DataFrame.from_dict(currencies, orient='index', columns = ['CurrencyName'])
for count,sem in enumerate(weekly_rates):
    for c in list(sem.keys()):
        if c not in list(currencies.keys()):
            sem.pop(c)
            
    weekly_df[weekly_dates[count]] = sem.values()

weekly_df.index = weekly_df["CurrencyName"]
weekly_df = weekly_df.drop(columns = ["CurrencyName"])

In [637]:
weekly_percentage_df = weekly_df.T.div(weekly_df.T.iloc[0]/100)
weekly_percentage_df.to_csv("./ForexQuestIdyll/data/weekly_percentage_data.csv")

In [641]:
monthly_df

,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2018-01-01,2018-06-01,2019-01-01,2019-06-01,2020-01-01
AED,3.67290,3.67278,3.67261,3.67290,3.67310,3.67278,3.67316,3.67311,3.67274,3.67320,3.67320
ALL,119.58839,126.86598,128.00312,127.67615,123.87948,110.66180,107.50000,107.72677,109.75000,109.15356,111.73701
AMD,483.13877,486.28500,485.95623,484.70288,485.99903,483.16490,483.02000,484.06811,480.42521,481.45533,483.42300
ARS,16.05100,15.79400,15.45000,15.37925,15.38350,18.59141,24.94800,37.65150,44.69400,59.92753,68.57827
AUD,1.35494,1.31869,1.30563,1.31053,1.32770,1.28221,1.32116,1.41881,1.44050,1.42450,1.47407
...,...,...,...,...,...,...,...,...,...,...,...
UYU,28.29338,28.14615,28.19378,28.65384,28.12650,28.82706,31.21418,32.36172,35.24947,37.33226,43.30512
UZS,3851.20000,3271.35995,3340.75000,3601.85000,3717.50000,8101.40000,7990.00000,8318.96846,8490.00000,9505.63945,10151.04352
VND,22696.90565,22586.81667,22782.96667,22774.34338,22760.33333,22700.88386,22797.27535,23177.00678,23303.00905,23191.33305,23224.12301
ZAR,12.89545,13.46447,13.02427,13.42341,13.39678,12.40178,12.69016,14.39440,14.58455,14.00950,17.38700
ZWL,322.38725,322.32277,322.32277,322.38725,322.38725,322.35501,322.35501,322.35501,322.35501,322.00000,322.00000

## Working Example - BRL 2020 to USD 2017

In [313]:
_20.body['rates']['BRL'] * 25950

134773.92

In [314]:
BRL_cpi17 = 100
BRL_cpi18 = (inflation_df['2018']['BRL']*BRL_cpi17/100)+BRL_cpi17
BRL_cpi19 = ((inflation_df['2019']['BRL']*BRL_cpi18/100)+BRL_cpi18)
BRL_cpi20 = ((inflation_df['2020']['BRL']*BRL_cpi19/100)+BRL_cpi19)

134773.92 / BRL_cpi20 * BRL_cpi17

122163.8254364608

In [315]:
122163.825/_17.body['rates']['BRL']

36890.59274042682